<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peakfind">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">

        </activity>

        <activity android:name=".LoginActivity" ></activity>
        <activity android:name=".LoginHotelOwnerActivity" />
        <activity android:name=".LoginCabOwnerActivity" />
        <activity android:name=".RegisterUserActivity" ></activity>
        <activity android:name=".RegisterCabOwnerActivity" />
        <activity android:name=".RegisterHotelOwnerActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".UserProfileActivity">

        </activity>
        <activity android:name=".WeatherActivity" />
        <activity android:name=".ShoppingMallActivity" />
        <activity android:name=".HotelSelect" />
        <activity android:name=".ChooseTypeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInsertActivity">

        </activity>
        <activity android:name=".UserProfileDetailsShowActivity">

        </activity>

        <activity android:name=".UbdateReservation" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".UserDetailsActivity" />
        <activity android:name=".ReservationFormActivity" />
        <activity android:name=".HotelInfoActivity"></activity>
        <activity android:name=".HotelUserReservedTable"></activity>
        <activity android:name=".HotelUserTableReservation" />
        <activity android:name=".HotelUserListView" />

        <activity android:name=".CabUserBookActivity" />
        <activity android:name=".CabUserDetailsActivity" />

        <activity android:name=".CabOwnerEditActivity" />
        <activity android:name=".show_cabownerdetails" />

        <activity android:name=".CabOwnerUpdate" />
        <activity android:name=".CabUserListShowActivity"></activity>

        <activity android:name=".HotelOwnerActivity"></activity>
        <activity android:name=".Resturent_Form" />
        <activity android:name=".ImageUpdate" />
        <activity android:name=".ImagesActivity" />
        <activity android:name=".Menu_Resturent" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>